@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&family=Slabo+27px&family=Source+Code+Pro&display=swap');

#root {
  overflow-x: hidden;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  background-color: rgb(250, 250, 250);
  height: 100vh;
}

/* Toggle Styles */

.viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: aquamarine;
}

.content {
  width: 100%;
  position: relative;
  margin-right: 0;
}

/* Sidebar Styles */

.sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #37474F;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar header {
  background-color: #263238;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

.sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

.sidebar header Link:hover {
  color: #fff;
}


.sidebar .nav {
  background: none;
  display: flex;
  flex-direction: column;
  /* margin-top: 20px; */
}

.sidebar .nav li{
  
    border-bottom: 1px solid #455A64;
    color: #CFD8DC;
    font-size: 20px;
    padding: 10px 20px    ;
    margin: 5px;
}

.Link{
  
    text-decoration: none;
    color:#CFD8DC
}

.sidebar .nav Link:hover{
    background: none;
    color: #ECEFF1;
    text-decoration: none;
}

/* .viewport{
  margin-right: 400px;
} */